.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.LoginTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.LoginTitle {
  color: #603892; 
  font-size: 80px; 
  font-family: "Rangerforce"; 
  margin-bottom: 5px;  
}

.LoginContainer .image {
  max-height: 100vh;  
  max-width: 80vh; 
}

.LoginInput {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  min-height: 80vh;
  width: 50vh;
  background-color: rgba(96, 56, 146, 0.7);
  border-radius: 50px;
  margin: 10px 0;
  overflow: hidden;
}

.LoginInput p {
    font-size: 36px;
    color: white; 
    font-family: "Nullshock"; 
    margin-left: 15%;
    margin-right: 5%;  
}
.imageContainer {
  flex: 1;
  padding-top: 5px;
}

.LoginTitleItem {
  margin-bottom: 5px; 
}

.button {
  padding: 10px 20px;
  margin-left: 5%;
  margin-right: 5%;  
  width: 50%; 
  height: auto; 
  font-size: 20px;
  color: white;
  background-color: #9994D0;
  border-radius: 50px; 
  font-family: "Nullshock"; 
}

.authInput {
  align-items: flex-start;  
  margin-top: 20px;  
  margin-bottom: 20px;  
}

.button:hover {
  background-color: #666389;
}