.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.LoginTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.LoginTitle {
  color: #603892; 
  font-size: 80px; /* Decrease font size of the title */
  font-family: var(--font-rangerforce); 
  margin-bottom: 5px; /* Decrease margin bottom to bring the title closer to the picture */
}

.LoginContainer .image {
  max-height: 100vh; /* Decrease maximum height of the image */
  max-width: 80vh; 
}

.LoginInput {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  min-height: 80vh;
  width: 50vh;
  background-color: rgba(96, 56, 146, 0.7);
  border-radius: 50px;
  margin: 10px 0;
  overflow: hidden;
}

.LoginInput p {
    font-size: 36px;
    color: white; 
    font-family: var(--font-nullshock); 
    margin-left: 15%;
    margin-right: 5%;  
}
.imageContainer {
  flex: 1;
  padding-top: 5px;
}

.LoginTitleItem {
  margin-bottom: 5px; 
}

.button {
  padding: 10px 20px;
  margin-left: 5%;
  margin-right: 5%;  
  width: 50%; 
  height: auto; 
  font-size: 20px;
  color: white;
  background-color: #9994D0;
  border-radius: 50px; 
  font-family: var(--font-nullshock); 
}

.authInput {
  align-items: flex-start; /* Align content to the left */
  margin-top: 20px; /* Add spacing above */
  margin-bottom: 20px; /* Add spacing below */
}