.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Containers */
.viewentryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 70%;
}

.pagecontentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Entry Card */
.entryCard {
    width: 900px;
    height: 211px;
    border-radius: 20px 60px 20px 60px;
    margin: 30px;
    padding-top: 15px;
    background-color: #8B62AA;  
    border: 15px solid transparent;  
}

.entrycardContent {
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.entrycardContent > div {
    flex: 1; /* Ensures equal width for all children */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ensures the image container maintains its aspect ratio */
.entrycardContent1 {
    align-items: center;
}

.entrycardContent2 {
    justify-content: center;
    text-align: center;
}

.entrycardContentDate {
    display: flex;
    gap: 10px;
}

.entrycardContent3 {
    padding-top: 50px;
    margin-top: 50px;
}

.entryName {
    color: white;
    font-family: var(--font-planetkosmos);
    font-size: 60px;
}

.entryDate {
    color: white;
    font-family: var(--font-nullshock); 
    font-size: 20px;
}

.button {
    padding: 10px 20px;
    margin-left: 5%;
    margin-right: 5%;  
    width: 245px; 
    font-size: 15px;
    color: white;
    background-color: #9994D0;
    border-radius: 50px; 
    font-family: var(--font-nullshock); 
  }

  .button:hover {
    background-color: #666389;
  }



/* Images */
.titleImage {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}



.moodImage {
border-radius: 50px;
width: 300px;
height: 300px;
}

.headings {
    margin-bottom: 10px;
    font-family: var(--font-ethnocentric);
    margin-left: 10px;
    color: #603892;
    font-size: 2rem;
}

.noEntriesContainer {
    margin:50px;
    padding: 20px
}