.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Containers */
.viewentryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 70%;
}

.pagecontentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.viewEntryContentContainer {
    display:flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.entryTitleContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #603892;
}
.entryDateContainer{
    margin-top: 20px;
}

.entryTextContainer{
    margin-top: 20px;
    margin-bottom: 10px;
}
.entryContentContainer{
    margin-top: 20px;

}
.entryContainer {
    display: flex;
    flex-direction: column;
}
.entryContainer2{
    border-bottom: 3px solid #603892;
}
.trackContentContainer{
    margin-top: 20px;

}
.trackContainer{
    display: flex;
    flex-direction: row;
    gap:5px;

}

.trackContainer2{
    margin-top: 20px;
}

.deleteButtonContainer{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-top: 20px;
}
/* Entry Card */
.entryCard {
    width: 900px;
    height: 211px;
    border-radius: 20px 60px 20px 60px;
    margin: 30px;
    padding-top: 15px;
    background-color: #8B62AA;  
    border: 15px solid transparent;  
}

.entrycardContent {
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.entrycardContent > div {
    flex: 1; /* Ensures equal width for all children */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ensures the image container maintains its aspect ratio */
.entrycardContent1 {
    align-items: center;
}

.entrycardContent2 {
    justify-content: center;
    text-align: center;
}

.entrycardContentDate {
    display: flex;
    gap: 10px;
}

.entrycardContent3 {
    padding-top: 50px;
    margin-top: 50px;
}

.entryName {
    color: white;
    font-family: "PlanetKosmos";
    font-size: 60px;
}

.entryNameview {
    color: #603892;
    font-family: "PlanetKosmos";
    font-size: 60px;
}


.entryDate {
    color: white;
    font-family: "Nullshock"; 
    font-size: 20px;
}

.entryDateView {
    color: #603892;
    font-family: "Nullshock"; 
    font-size: 25px;
}

.entryTextView {
    color: #603892;
    font-family: "Tahoma"; 
    font-size: 20px;
}

.trackTitle {
    font-size: 20px;
    font-family: "Nullshock";
    color: #603892;
}

.trackArtist {
    font-family: "Ethnocentric";
    font-size: 15px;
    color: #603892;
}
.button {
    padding: 10px 20px;
    margin-left: 5%;
    margin-right: 5%;  
    width: 245px; 
    font-size: 15px;
    color: white;
    background-color: #9994D0;
    border-radius: 50px; 
    font-family: "Nullshock"; 
  }

  .button:hover {
    background-color: #666389;
  }

.deleteButton {
    padding: 10px 20px;
    width: 338px;
    height: auto;
    font-size: 15px;
    color: white;
    background-color: #9994D0;
    border-radius: 50px;
    font-family: "Nullshock";
}
.deleteButton:hover {
    background-color: #666389;
  }
/* Images */
.titleImage {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.moodImage {
    max-width: 400px;
    height: 600px;
}

.headings {
    margin-bottom: 10px;
    font-family: "Ethnocentric";
    margin-left: 10px;
    color: #603892;
    font-size: 2rem;
}

.noEntriesContainer {
    margin:50px;
    padding: 20px
}
.trackIcon {
    width: 3rem;
    height: auto;
}